
@{
    ViewData["Title"] = "DeptEmpDashboard";
    Layout = "~/Views/Shared/_PurchEmpLayout.cshtml";
}


<head>
    <meta charset="utf-8">
    <title>Preschool - Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="~/SideManu/assets/img/favicon.png">

    <link href="../../../../css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/SideManu/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/SideManu/assets/plugins/fontawesome/css/fontawesome.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/fullcalendar.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/SideManu/assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="~/SideManu/assets/css/style.css">
    <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
</head>

<!--This is a header of our page you can copy and past it in any new view u create, Lets Goo!-->
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h3 class="page-title mb-0">Dashboard</h3>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb mb-0 p-0 float-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--This is a box on our dashboard can copy and past it in any new view u create, Lets Goo!-->

<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget dash-widget5">
            <span class="float-left"><img src="~/SideManu/assets/img/dash/dash-1.png" alt="" width="80"></span>
            <div class="dash-widget-info text-right">
                <span>Products</span>
                <h3>8</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget dash-widget5">
            <div class="dash-widget-info text-left d-inline-block">
                <span>Purchase Orders</span>
                <h3>3</h3>
            </div>
            <span class="float-right"><img src="~/SideManu/assets/img/dash/dash-2.png" width="80" alt=""></span>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget dash-widget5">
            <span class="float-left"><img src="~/SideManu/assets/img/dash/dash-3.png" alt="" width="80"></span>
            <div class="dash-widget-info text-right">
                <span>Users</span>
                <h3>20</h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget dash-widget5">
            <div class="dash-widget-info d-inline-block text-left">
                <span>Report</span>
                <h3>1</h3>
            </div>
            <span class="float-right"><img src="~/SideManu/assets/img/dash/dash-4.png" alt="" width="80"></span>
        </div>
    </div>
</div

                
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessage"]
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
}

@if (TempData["AlertMessageEdit"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessageEdit"]
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
}

@if (TempData["AlertMessageDelete"] != null)
{
    <div class="alert alert-success">
        @TempData["AlertMessageDelete"]
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
}

<div class="card-header">
    <h4 class="card-title"></h4>
    <a class="btn btn-primary btn-sm float-right" asp-controller="Product" asp-action="Create">Add New</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Bar Code</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Supplier</th>
            <th>Product Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.BarCode</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Supplier.Name</td>
                
                <td>
                    @if (!string.IsNullOrEmpty(product.ImagePath))
                    {
                        <img src="@Url.Content("~/uploads/" + product.ImagePath)" alt="Product Image" width="100" height="100" />
                    }
                    else
                    {
                        <p>No image available</p>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>
