@model Mind_Meld.Models.Quote

@{
    ViewData["Title"] = "Details";
   Layout = "~/Views/Shared/_CustumerLayout.cshtml";

}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuoteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
